footer {
    display: block;
    unicode-bidi: isolate;
    background-color: #89375F;
    color: #F3E8FF;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.footer a {
    color: #F3E8FF;
    text-decoration: none;
}

.footer a:hover {
    color: #CE5959;
}
.site-footer {
    background: #89375F;
    height: auto;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    padding-top: 95px;
    position: relative;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 10px;
    z-index: 1;
}