
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: visible; /* Allow dropdown to be fully displayed */
    z-index: 1050; /* Higher z-index to ensure visibility */
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    unicode-bidi: isolate;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(180deg, rgb(238, 238, 238), rgba(238, 238, 238, 0.795));
}

/* Header Logo */

.header-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    width: auto;
    height: 50px;
}

.logo {

    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 145px;
}

@media (max-width: 880px) {
    .header-logo img {
        width: 105px;
    }
}

.tagline {
    display: inline-block;
    text-align: left;
    margin: 0px;
    font-size: .3em;
    color: #333;
    white-space: nowrap;
    height: 12px;
}


/* Header Menu */

.header-menu {
    align-items: center;
    overflow: visible; /* Allow dropdowns to expand properly */
    position: relative; /* Helps with dropdown positioning */
    background-color: #222831;
    height: 55px;
}

/* Ensure dropdown appears above other elements */
.dropdown-menu {
    z-index: 1100; /* Higher than the navbar */
    position: absolute; /* Ensure it displays properly */
}